/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100vh;

  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;

  font-size: 2.4rem;

  padding: 0.8rem 12.8rem;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
}

.header-btn:link,
.header-btn:visited {
  display: flex;

  align-items: end;
  gap: 1rem;

  background-color: #0077b7;
  border-radius: 6px;

  color: #fff;
  text-decoration: none;
  font-weight: 400;

  padding: 1rem 2rem;

  transition: all 0.3s;
}

.header-btn:hover,
.header-btn:active {
  background-color: #006fab;
}

.header-btn img {
  max-height: 2.7rem;
  padding: 3px 0;
}

.logo img {
  max-height: 4.8rem;
}

/******************************/
/* FORM SECTION */
/******************************/

.section {
  display: block;
  padding: 8rem;
  background-color: #f8f9fa;
}

.container {
  max-width: 160rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 3.2rem;
  color: #495057;
  text-align: center;
  margin-bottom: 2.4rem;
}

.description {
  font-size: 1.6rem;
  color: #888;
  text-align: center;
  margin-bottom: 9.6rem;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 28px;
  box-shadow: 0 2.4rem 4.8rem #00000026;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: ; */

  column-gap: 4.8rem;
  row-gap: 3.2rem;

  padding: 6.4rem;
}

.contact-form *:focus {
  outline: none;
}

/**************
BACKGROUND CARD
****************/

.bg-box {
  background-image: url("../img/card-bg.svg");
  background-size: cover;
  background-position: left;

  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  color: #f6f2ff;

  transition: all 0.3s;
  border-radius: 16px;

  padding: 6.4rem 4.8rem;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}

.card-dis {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #d8d1eb;
}

.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.contact-list li {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.icon-list {
  width: 3.6rem;
  height: 3.6rem;
  fill: #fa949d;
}

.contact-list a {
  color: #f6f2ff;
  text-decoration: none;
  font-size: 2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  margin-top: auto;
}

.social-links svg {
  width: 5.2rem;
  height: 5.2rem;
  fill: #f6f2ff;
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.social-links svg:hover {
  fill: #3e1f92;
  background-color: #fa949d;
}

/**************
FORM CARD
****************/

.contact-form label {
  display: block;
  color: #888;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: 1.2rem;

  transition: all 0.3s;
}

.contact-form input,
.contact-form select,
.textarea {
  width: 100%;
  border: none;

  border-bottom: 2px solid #ccc;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1.2rem;
  padding-left: 1.2rem;

  transition: all 0.3s;
}

.contact-form input::placeholder,
.contact-form select:has(option[value=""]:checked),
.textarea::placeholder {
  color: #bbb;
}

.contact-form div:has(select) {
  margin-bottom: 3.2rem;
}

.contact-form input:focus,
.contact-form select:focus,
.textarea-box textarea:focus {
  border-color: #3e1f92;
}

.contact-form div:focus-within label {
  color: #3e1f92;
}

.textarea-box {
  /* width: 25px; */
  grid-column: span 2;
  margin-bottom: 3.2rem;
}

.textarea-box textarea {
  field-sizing: content;
  resize: none;
  padding-bottom: 4.8rem;
}

.submit-btn {
  width: fit-content;
  grid-column: 2;
  justify-self: end;

  background-color: #3e1f92;
  border-radius: 6px;

  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;

  padding: 2.4rem 4.8rem;

  cursor: pointer;

  transition: all 0.3s;
}

.submit-btn:hover {
  background-color: #351c7b;
}

.wrong input,
.wrong select,
.wrong textarea {
  border-color: red;
  color: red;
}

.wrong-message {
  display: none;
}

.contact-form div {
  margin-bottom: 2.8rem;
}

.wrong {
  margin-bottom: 0 !important;
}

.contact-form .wrong:has(select) {
  margin-bottom: 0.4rem !important;
}

.wrong .wrong-message {
  display: block;
  margin-top: 1.2rem;
  color: red;
  font-size: 1.6rem;
}

.meassge-container {
  opacity: 0;
  transition: opacity 0.8s ease;
  pointer-events: none;
  margin: 0 !important;
}

.meassge-container.show {
  opacity: 1;
  pointer-events: auto;
}

.success-message {
  display: flex;
  flex-direction: row;
  align-items: center;

  transform: scale(1.4);
  transform-origin: left center; /* grow to the right */

  gap: 1.2rem;

  font-size: 1.4rem;
  color: #51cf66;
  font-weight: 450;
  padding: 0 1.6rem;

  transition: all 1s;
  margin: 0 !important;
}

.success-icon {
  margin: 0 !important;
}
